.footer {
  background: #000000;
  color: #FEFEFE;
  font-family: $font-stack;
}

.footer__container {
  padding-top: 38px;
  padding-bottom: 47px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint-mf("my-s") {
    padding-top: 57px;
    padding-bottom: 56px;
  }
  @include breakpoint-mf("my-m") {
    padding-top: 66px;
    padding-bottom: 70px;
  }
}

.footer__subtitle {
  margin-top: 22px;
  margin-bottom: 0;
  margin-right: 0;
  max-width: 684px;

  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #B9B9B9;

  &--small {
    color: #B9B9B9;
    margin-top: 8px;
    max-width: 303px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;

    @include breakpoint-mf("my-s") {
      display: none;
    }
  }

  @include breakpoint("my-s") {
    display: none;
  }
  @include breakpoint-mf("my-m") {
    max-width: 684px;
    margin-top: 22px;
    margin-bottom: 0;
    margin-right: 0;
    text-align: center;
  }
}

//----------social media----------
.footer__social-links {
  margin-top: 26px;
  display: flex;
  gap: 6px;

  @include breakpoint-mf("my-s") {
    margin-top: 37px;
  }
}

.footer__link {
  display: flex;
  width: 34px;
  height: 34px;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-radius: 1000px;

  &--rss {
    border-color: #F8902E;
  }

  &--facebook {
    border-color: #39599F;
  }

  &--twitter {
    border-color: #45B0E3;
  }

  &--dribbble {
    border-color: #D97AB0;
  }

  &--pinterest {
    border-color: #CC212C;
  }
}

.footer__icon {
  display: block;
}

//----------contacts----------
.footer__contacts {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;

  font-size: 14px;
  line-height: 24px;

  color: #B9B9B9;

  @include breakpoint-mf("my-s") {
    margin-top: 34px;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
  }

  @include breakpoint-mf("sm") {
    justify-content: center;
    gap: 30px;
    font-size: 16px;
    line-height: 32px;
  }
}

.footer__contact-link {
  color: #B9B9B9;
  position: relative;

  &:not(:last-child)::after {
    content: "/";
    position: absolute;
    top: 0;
    right: -15px;

    @include breakpoint-mf("my-s") {
      right: -8px;
    }
    @include breakpoint-mf("sm") {
      right: -18px;
    }
  }
}
