.body {
  height: auto;
}

.body__wrap {
  font-family: $font-stack;
  font-weight: 400;
  font-style: normal;
  color: $title-color;
}

.container {
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;

  @include breakpoint-mf("my-s"){
    max-width: 768px;
  }
  @include breakpoint-mf("my-m") {
    max-width: 1200px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  font-family: $font-stack;
}