//----------container----------
.header__container {
  position: relative;
  padding-top: 23px;
  padding-bottom: 19px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;

  @include breakpoint-mf("md-p") {
    display: block;
    padding-bottom: 28px;
  }
  @include breakpoint-mf("my-m") {
    padding-top: 29px;
    padding-bottom: 33px;
  }
}

//----------burger----------
.header__burger {
  position: relative;
  border: none;
  width: 45px;
  height: 38px;
  background-color: #000000;

  @include breakpoint-mf("md-p") {
    display: none;
  }
}

.header__burger-span {
  position: absolute;
  display: block;
  background-color: #fefefe;
  height: 2px;
  width: 17px;
  left: 13px;
  transition: opacity .25s, transform .5s;

  &:nth-child(1) {
    transform: translateY(-4px);
  }

  &:nth-child(3) {
    transform: translateY(4px);
  }
}

.header__burger-span--active {
  @include breakpoint("md-p") {
    &:nth-child(1) {
      transform: translateY(0) rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: translateY(0) rotate(-45deg);
    }
  }
}

//----------navbar----------
.navbar {
  padding-top: 16px;
  padding-bottom: 16px;

  @include breakpoint("md-p") {
    &--active {
      transform: translateX(-191px);
    }

    position: absolute;
    top: 60px;
    right: -182px;
    width: 182px;
    background-color: #F5F5F5;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: transform .5s;
  }
}

.navbar__menu {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include breakpoint-mf("md-p") {
    flex-direction: row;
    justify-content: center;
    gap: 34px;
  }
  @include breakpoint-mf("my-m") {
    gap: 68px;
  }
}

.navbar__menu-item:hover {
  @include breakpoint("md-p") {
    background-color: #E5E5E5;
  }
}

.navbar__menu-link {
  color: $title-color;
  font-size: 11px;
  line-height: 22px;
  display: block;
  text-transform: uppercase;
  padding-left: 13px;

  @include breakpoint-mf("md-p") {
    padding-left: 0;
  }

  &--active {
    color: #57A4A4;
  }
}

//----------header-img----------
.header__picture {
  display: block;
  margin-top: 23px;
  width: 100%;
}

.header__img {
  display: block;
  width: 100%;
}
