.instagram {
  @media (min-width: 481px) {
    background: rgba(0, 0, 0, 0.03);
  }
}

.instagram__container {
  padding-top: 38px;
  padding-bottom: 42px;

  @media (min-width: 481px) {
    padding-top: 47px;
    padding-bottom: 50px;
  }
}

.instagram__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.instagram__title {
  @media (max-width: 480px) {
    display: none;
  }
}

.instagram__title--small {
  @media (min-width: 481px) {
    display: none;
  }
}

.instagram__link {
  display: none;

  @include breakpoint-mf("my-s") {
    display: block;
    color: $title-color;
    font-family: $font-stack;
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
  }
}

.instagram__list {
  list-style: none;
  padding-left: 0;
  margin-top: 13px;
  margin-bottom: 0;
  display: flex;
  gap: 10px;
  justify-content: space-between;

  @include breakpoint-mf("my-s") {
    margin-top: 35px;
  }
  @include breakpoint-mf("my-m") {
    margin-top: 24px;
  }
}

.instagram__img {
  width: 301px;

  &:not(:nth-child(1)) {
    display: none;
  }

  @include breakpoint-mf("my-s") {
    width: 249px;

    &:not(:last-child) {
      display: block;
    }
  }

  @include breakpoint-mf("my-m") {
    width: 285px;

    &:last-child {
      display: block;
    }
  }
}

.instagram__img-link {
  display: block;
}

.instagram__inner-img {
  display: block;
  width: 100%;
  height: auto;
}
