//----------container----------
.news__container {
  padding-top: 19px;
  padding-bottom: 40px;

  @include breakpoint-mf("my-s"){
    padding-top: 28px;
    padding-bottom: 60px;
  }
}

//----------news-list----------
.news__list {
  list-style: none;
  padding-left: 0;
  margin-top: 24px;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 28px;

  @include breakpoint-mf("my-s"){
    gap: 32px;
  }
  @include breakpoint-mf("my-m"){
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 25px;
  }
}

//----------news-item----------
.news__item{
  &:nth-child(4) {
    @include breakpoint("my-s"){
      display: none;
    }
  }
}

.news__link {
  display: flex;
  color: $title-color;
  font-family: $font-stack;

  @include breakpoint("my-s"){
    display: flex;
    flex-direction: column;
    gap: 11px;
  }
}

//----------news-description----------
.news__info {
  @include breakpoint-mf("my-s"){
    margin-left: 20px;
    max-width: 404px;
  }
}

.news__item-title  {
  margin-top: 0;
  margin-bottom: 1px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}

.news__item-subtitle {
  margin-top: 0;
  margin-bottom: 13px;
  font-size: 12px;
  line-height: 20px;
  color: $subtitle-color;
}

.news__item-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 26px;
  color: $text-color;

  @include breakpoint("my-s"){
    display: none;
  }
}